@import "../assets/styles/variables";

a {
  text-decoration: underline;
}
.brand {
  background-color: $brand-primary;
  color: #FFFFFF;
  [class*=" display-"], [class^="display-"] {
    margin-bottom: 2rem;
    .text-muted {
      font-size: $font-size-h4;
      display: block;
      color: inherit;
    }
  }
}
.footer {
  background-color: $gray-lighter;
  color: $gray;
  padding-top: $jumbotron-padding;
  padding-bottom: $jumbotron-padding;
}

.readable {
  max-width: 520px;
}
.blockquote {
  padding-left: 2rem;
}

ul.nav-contents-brand {
  li {
    a {
      color: #FFFFFF !important;
      text-decoration: underline;
    }
  }
}

.width-100 {
  max-width: 150px;
}
